.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #894141; /* Example background color */
}



.heading {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
}
.main{
    background-image: url(./../../assets/bgimg1.jpg);
    background-repeat: no-repeat;
    height:140vh;
    width:100%;
    position:relative
}

.content{
    position: absolute;
    margin: 0% 2% 0% 42%;
    width:48%;
    
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(81, 79, 79, 0.5); /* Adjust alpha value for opacity */
    padding: 15% 5% 21% 5%;
}
.result {
       
        color: black;
        padding: 20px; /* Adjust padding as needed */
        max-width: 80%; /* Adjust width as needed */
        text-align: center; /* Center text */
}
